/* Font Imports 
    Monserrat - Weights: 500, 700
    Fraunces - Weights: 700 */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* Color Variables */

:root {
  --primary-cream: hsl(30, 38%, 92%);
  --primary-cyan: hsl(158, 36%, 37%);
  --dark-cyan: #1a4031;

  --dark-blue: hsl(212, 21%, 14%);
  --greyish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */

* {
  padding: 0;
  margin: 0;
}

/* Body styles for background color and centering */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-cream);
}

/* Styles for img responsiveness */

img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.desktop-image {
  display: none;
}

/* Main parent container styles */

.container {
  max-width: 90%;
  border-radius: 10px;
  background-color: var(--white);
}

/* Product info container */

.content-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Perfume typography styles */
.content-container__perfume {
  font-size: 0.7rem;
  letter-spacing: 0.3rem;
}

/* Product header styles */
.content-container__header {
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
  color: var(--dark-blue);
}

/* Main product paragraph styles */
.content-container__maintext {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: var(--greyish-blue);
}

/* Price container */
.price-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* current price styles */
.price_container__main {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--primary-cyan);
}

/* original price styles */
.price_container__secondary {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: var(--greyish-blue);
}

/* Button style */

.btn {
  margin-top: 1rem;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  gap: 3%;
  border-radius: 10px;
  border-style: none;
  background-color: var(--primary-cyan);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: 0.8s;
}

.btn:hover {
  background-color: var(--dark-cyan);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
  }

  .desktop-image {
    display: block;
  }

  .mobile-image {
    display: none;
  }

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-left-radius: 10px;
  }
}

/* Large tablet */

@media screen and (min-width: 1024px) {
  .container {
    max-width: 56%;
  }
}

/* Laptop */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 40%;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 30%;
  }
}
